*.npy
*.pkl
*.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.zip
*.tar
*.tar.gz
*.tar.gz.part
*.tar.gz.part.1
*.tar.gz.part.2
*.tar.gz.part.3
*.tar.gz.part.4
*.xml
*.pyc
u.*
*.pl
*.base
*.data
*.test
